@import "tailwindcss";

@theme {
  --font-mono: var(--font-jetbrains-mono);
}

:root {
  --background: #051821;
  --foreground: #ffffff;
}

body {
  background: radial-gradient(circle at center, #051821 0%, #000000 100%);
  color: var(--foreground);
  font-family: var(--font-mono);
  overflow-x: hidden;
  min-height: 100vh;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 60%, black 100%);
  z-index: 10;
  pointer-events: none;
  opacity: 0.6;
}

/* Lenis recommended styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}